/* CRIE UM BOTÃO QUE CONTENEHA UM ÍCONE (IMG) E UM TEXTO. COLOQUE UM ESPAÇO DE .4REM ENTRE OS ELEMENTOS. */

button {
    display: flex;
    align-items: center;
    line-height: 0;
    gap: .4rem;
}

button img {
    width: 2rem;
    height: 2rem;
}